
  /* @import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz@0,9..40;1,9..40&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,500;1,9..40,500&display=swap'); */


*{
    padding:0px ;
    margin:0px ;
    box-sizing: border-box;
}

.Box{
    background-color:snow;
    font-family: "DM Sans", serif;
    padding:10px;
    display: grid;
    grid-template-columns: repeat(4,100);
    grid-template-rows: repeat(4,1fr);
    gap:15px;
    width:300px;
    height:660px; }
    
   .Box1{
    padding:20px ;  
    font-family: "DM Sans", serif;
    font-weight:bold;  
    background-color: hsl(31, 66%, 93%) ;
     grid-area:1/1/3/2 ; 
    border-radius:10px ;}
    
   
   .picture1 {
    max-width:120px;
    height:auto;
    margin-top:20px; } 


     .color{
    color:hsl(256, 67%, 59%);}
     
      
    .Box2{
    padding:30px ;    
    font-family: "DM Sans", serif;
    font-weight:bold ;    
    background-color: hsl(256, 67%, 59%) ;
    grid-area:1/2/3/4 ;
    border-radius:10px ;
    color: white;
    text-align: center;}
   

   .picture2 {
    max-width:120px;
    height:auto;
    margin-top:20px; } 

    .Box3{
    padding:30px ;     
    font-family: "DM Sans", serif;     
    background-color:hsl(255, 26%, 70%) ;
    grid-area:1/4/4/5;
    border-radius:10px;
    font-weight:bold;
    text-align: center;}
 
   .picture3 {
    max-width:200px;
    height:auto;
    margin-top:20px;
    margin-bottom: 30px;
    margin-right:-50px;
}
    

   .Box4{
    padding:30px ;     
    font-family: "DM Sans", serif;     
    background-color: hsl(39, 100%, 71%) ;
    grid-area:3/1/5/2 ;
    border-radius:10px;
    font-weight:bold;
    text-align: center;}

    .picture4 {
        max-width:200px;
        height:auto;
        margin-top:100px; } 
    
    .Box5{
     padding:30px ;    
    background-color:white ;
    font-weight:bold;
    font-family: "DM Sans", serif;
    grid-area:3/2/4/3 ;
     border-radius:10px;
     text-align: end;}

     .picture5 {
        max-width:120px;
        height:auto;
        margin-top:20px; } 
    
     
     .Box6{
    padding:30px ;     
    font-family: "DM Sans", serif;      
    background-color: hsl(39, 73%, 54%) ;
    grid-area:3/3/4/4;
    border-radius:10px;
    font-weight:bold;
    text-align: center;}

    .picture6 {
        max-width:120px;
        height:auto;
        margin-bottom:-120px ;}
    

     .Box7{
    padding:30px ;    
     background-color:white ;
     font-weight: bold;
     font-family: "DM Sans", serif;
    grid-area:4/2/5/3 ;
     border-radius:10px;
     text-align: center;}

     .picture7 {
        max-width:120px;
        height:auto;
        margin-top:20px; } 
    
     .Box8{
     padding:30px ;     
     background-color:hsl(256, 64%, 40%) ; 
     font-weight: bold;
     font-family: "DM Sans", serif;
     grid-area:4/3/5/5;
     border-radius:10px;
     color: white;}

     
     .picture8 {
     max-width:120px;
     height:auto;
     }
    